#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
{% block file_docstring %}{% endblock %}
"""

import sys


# =========================================================================== #
# METADATA
# =========================================================================== #

__author__ = '{{cookiecutter.lead_name}}'
__credits__ = ['{{cookiecutter.lead_name}}']

__copyright__ = 'Copyright {% now 'local', ' % Y' %}, {{cookiecutter.project_name}}'

__created_date__ = '{% now 'local', ' % b % d, % Y' %}'
__modified_date__ = '{% now 'local', ' % b % d, % Y' %}'


# =========================================================================== #
# CONSTANTS
# =========================================================================== #

# -- Debugging -- #

DEBUG = True


# =========================================================================== #
# FUNCTIONS
# =========================================================================== #

# -- Main Program -- #

def main():
    """
    Run the main set of functions that define the program.
    """

    print('DEBUG =', DEBUG)


# =========================================================================== #
# MAIN EXECUTION
# =========================================================================== #

# -- Main Execution -- #

# If this module is in the main module, call the main() function.
if __name__ == '__main__':
    main()

# -- Housekeeping -- #

# Exit the program normally.
sys.exit(0)
